:root {
    --lightgray :var(--lightgray)
    --darkgray : 
}

header {
    background: #f6f8fb;
    padding: 60px 20px;
    text-align: center;
}

header h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 15px;
}

header p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
header 1 {
    font-size: 3rem;
     font-weight: 800;
     margin-bottom: 15px;
   }

   header p {
     font-size: 1.2rem;
     margin-bottom: 30px;
   }

.btn-primary  {
    background: #0046be;
     color: var(--accent);
     padding: 12px 30px;
     border-radius: 30px;
     border: none;
     font-size: 1rem;
     font-weight: 600;
     cursor: pointer;
     transition: 0.3s;
}

